/* ----Global----- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Red Hat Display', sans-serif;
  color: var(--green);
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

button {
    font-weight: bold;
    color: #fff;
    background-color: var(--orange);
    padding: 1em 2em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: var(--smooth);
}

button:hover {
    color: var(--orange);
    background-color: var(--light-pink);
    transition: var(--smooth);
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --orange: #FA5652;
    --green: #035755;
    --gray: #4B4F51;
    --pink: #FEE6E5;
    --light-pink: #FFF9F9;
    --smooth: all .3s ease-in;
    --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
}

.tag {
    font-size: 32px;
    color: var(--orange);
    font-weight: bold;
    padding: 5px 0;
}

.title {
    font-size: 52px;
    font-weight: bold;
    padding: 5px 0;
}

.detail {
    font-size: 24px;
    color: var(--gray);
    margin-top: 25px;
}

p {
    line-height: 40px;
}
/* ----Header---- */

header {
    background-color: var(--light-pink);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 55px 15px;
    background-color: var(--light-pink);
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    width: 63px;
    height: 63px;
}

.navbar__logo p {
    font-size: 19px;
    margin-left: 14px;
    color: var(--green);
    font-weight: 700;
}

.navbar__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--orange);
    opacity: 0;
    z-index: 5;
    transition: var(--smooth);
}

.navbar__links.navbar__open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.navbar__link {
    margin: 25px;
    font-size: 18px;
}

.navbar__link a {
    color: #fff;
}

.navbar__link a:hover {
    color: var(--green);
    transition: var(--smooth);
}

.navbar__btn {
    font-size: 18px;
    margin-left: 35px;
    border: 2px solid var(--pink);
}

.navbar__ham {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar__icon {
    width: 45px;
    height: 6px;
    background-color: var(--orange);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar__icon::before,
.navbar__icon::after {
    content: '';
    width: 45px;
    height: 6px;
    background-color: var(--orange);
    border-radius: 5px;
    position: absolute;
    transition: var(--smooth);
}

.navbar__icon:before {
    transform: translateY(-12px);
}
  
.navbar__icon:after {
    transform: translateY(12px);
}

/* button animation */
.open .navbar__icon {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .open .navbar__icon:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .open .navbar__icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
@media (min-width: 62em) {
    .navbar__links {
        position: initial;
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar__link a {
        color: var(--green);
        transition: var(--smooth);
    }

    .navbar__link a:hover {
        color: var(--orange);
        transition: var(--smooth);
    }
    .navbar__ham {
        display: none;
    }
    .navbar__btn {
        background-color: transparent;
        border: 2px solid var(--orange);
        color: var(--orange);
        box-shadow: none;
    }
    .navbar__btn:hover {
        background-color: var(--orange);
        color: #fff;
        transition: var(--smooth);
    }
}

/* ----Banner---- */

.banner .container {
    background-image: linear-gradient(to bottom, var(--light-pink), #fff);
}

.banner__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
}

/* .banner__tag {
    font-size: 32px;
    color: var(--orange);
    font-weight: bold;
    padding: 5px 0;
}

.banner__title {
    font-size: 52px;
    font-weight: bold;
    padding: 5px 0;
}

.banner__detail {
    font-size: 24px;
    color: var(--gray);
    margin-top: 25px;
} */

.banner__btn {
    margin-top: 54px;
}

.banner__btn button {
    font-size: 20px;
}

@media (min-width: 62em) {
    #banner .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: row-reverse; */
    }

    .banner__img {
        order: 2;
    }
    .banner__heading {
        order: 1;
        text-align: initial;
        width: 60%;
        padding: 0 0 0 50px;
    }

    .banner__detail {
        max-width: 800px;
        width: 100%;
    }
}

/* ----Virus---- */

.virus__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.virus__tag {
    font-size: 29px;
}

.virus__title {
    font-size: 50px;
}

.virus__detail {
    font-size: 20px;
}

.virus__btn {
    margin-top: 56px;
}

.virus__btn button {
    font-size: 20px;
    color: var(--orange);
    background-color: var(--light-pink);
}

.virus__btn button:hover {
    background-color: var(--orange);
    color: #fff;
}

@media (min-width: 62em) {
    #virus .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .virus__heading {
        text-align: initial;
        width: 60%;
        padding: 0 0 0 24px;
    }

    .virus__detail {
        max-width: 800px;
        width: 100%;
    }
}

/* ----Contagion---- */

.contagion__heading {
    text-align: center;
}

.contagion__tag {
    font-size: 29px;
}

.contagion__title {
    font-size: 50px;
}

.contagion__detail {
    font-size: 20px;
}

.contagion__cards {
    padding-top: 5%;
    position: relative;
}
  
.contagion__card {
    position: relative;
    max-width: 460px;
    width: 90%;
    height: 575px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    padding: 0 15px;
    transition: var(--smooth);
}
  
.contagion__card:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 10px;
    background: transparent;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    transition: var(--smooth);
}
  
.contagion__card:hover:before {
    background: var(--orange);
    transition: var(--smooth);
}
  
.contagion__card img {
    max-width: 270px;
}
  
.contagion__card h3 {
    padding-top: 55px;
    font-size: 2.25rem;
    color: var(--green);
    text-transform: capitalize;
    text-align: center;
}
  
.contagion__card p {
    font-size: 1.125rem;
    color: var(--gray);
    text-align: center;
    text-transform: capitalize;
    max-width: 380px;
    margin: 0 auto;
    padding-top: 13px;
}
  
@media (min-width: 62rem) {
    .contagion__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .contagion__cards:before {
      content: "";
      position: absolute;
      bottom: -55%;
      left: -9%;
      width: 100%;
      height: 100%;
      background-image: url("../assets/img/coro-dec.png");
      background-repeat: no-repeat;
    }
}

/* ----symptomps----- */

.symptomps__heading {
    text-align: center;
}

.symptomps__tag {
    font-size: 29px;
}

.symptomps__title {
    font-size: 50px;
}

.symptomps__detail {
    font-size: 20px;
}

/* ----Should We Do---- */

.todo__heading {
    text-align: center;
}

.todo__tag {
    font-size: 29px;
}

.todo__title {
    font-size: 50px;
}

.todo__detail {
    font-size: 20px;
}

#todo .container {
    position: relative;
}
  
.todo__dec-1 {
    position: absolute;
    top: 25%;
    left: 0;
}
  
.todo__dec-1 img {
    width: 138px;
    display: none;
}
  
.todo__dec-2 {
    position: absolute;
    top: 78%;
    right: 0;
}
  
.todo__dec-2 img {
    width: 128px;
    display: none;
}
  
.todo__dec-3 {
    position: absolute;
    top: 85%;
    right: 0;
}
  
.todo__dec-3 img {
    width: 158px;
    display: none;
}
  
.todo__steps {
    padding-top: 5%;
}
  
.todo__step {
    display: flex;
    flex-direction: column;
}
  
.todo__step-desc {
    text-align: center;
    padding: 0 15px;
    order: 2;
    position: relative;
}
  
.todo__step-desc span {
    position: relative;
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: bold;
}
  
.todo__step-desc span:before {
    content: "";
    background-color: var(--pink);
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-12%, -10%);
}
  
  .center span:before {
    transform: translate(-18%, -10%);
  }
  
  .todo__step-desc h5 {
    padding-top: 15px;
    font-size: 2.875rem;
    color: var(--green);
    text-transform: capitalize;
  }
  
  .todo__step-desc p {
    font-size: 18px;
    color: var(--gray);
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: 400;
  }
  
  .todo__step-img {
    order: 1;
    padding: 15px 0;
    text-align: center;
  }
  
  .todo__step-img img {
    max-width: 565px;
  }
  
@media (min-width: 62rem) {
    .todo__step {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .todo__step-desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: initial;
      max-width: 800px;
      width: 100%;
      order: 1;
    }
    .todo__step-img {
      order: 2;
    }
    .todo__step-desc span {
      display: flex;
      align-items: baseline;
    }
    .ml {
      margin-left: 44px;
    }
    .todo__step:nth-child(even) .todo__step-desc {
      order: 2;
    }
    .todo__step:nth-child(even) .todo__step-img {
      order: 1;
    }
    .todo__step-desc span:before {
      transform: translate(-12%, 10%);
    }
  
    .center span:before {
      transform: translate(-18%, 10%);
    }
  
    .todo__dec-1 img {
      display: initial;
    }
    .todo__dec-2 img {
      display: initial;
    }
    .todo__dec-3 img {
      display: initial;
    }
}

.contact__heading {
    text-align: center;
}

.contact__heading h1 {
  text-align: center;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 64px;
}

.contact__heading span {
  font-weight: 600;
}

.contact__form {
  margin-top: 62px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__form input {
  font-size: 1.375rem;
  margin-top: 60px;
  max-width: 800px;
  width: 90%;
  height: 114px;
  padding: 15px 15px 15px 35px;
  border-radius: 200px;
  box-shadow: var(--shadow);
  border: none;
}

.contact__form input:focus {
  outline: none;
}

.contact__form button {
  font-size: 1.5rem;
  margin-top: 60px;
}

@media (min-width: 62rem) {
  .contact__heading h1 {
    font-size: 3.375rem;
  }
  .contact__form {
    padding-top: 62px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  .contact__form input {
    width: 100%;
  }
  .contact__form button {
    position: absolute;
    top: 39%;
    right: 2%;
    transform: translate(-2%, -20%);
  }
}

/* Footer ============= */
.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.footer__link {
  list-style: none;
  text-align: center;
  padding: 15px 0;
}

.footer__link:first-child {
  margin-top: 20%;
}

.footer__link a {
  font-size: 1.375rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--green);
  transition: var(--smooth);
}

.footer__link a:hover {
  color: var(--orange);
  transition: var(--smooth);
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.footer__socials svg {
  cursor: pointer;
  margin: 0 15px;
  color: var(--green);
  transition: var(--smooth);
}

.footer__socials svg:hover {
  color: var(--orange);
  transition: var(--smooth);
}

.footer__bottom p {
  font-size: 1.125rem;
  width: 95%;
  margin: 5% auto;
  text-align: center;
  color: var(--gray);
}

@media (min-width: 62rem) {
  .footer__top {
    margin-top: 118px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__links {
    display: flex;
  }
  .footer__link {
    margin: 0 15px;
  }
  .footer__link:first-child {
    margin-top: 0;
  }
  .footer__socials {
    margin-top: 0;
  }
}